.mast-head-secondrow {
            @include media-query(palm) {
            position: fixed;
            z-index: 50;
        }
    >a {
        display: inline-block;
        height: 100%;
            position: relative;
    @media print {
      &::after{display:none;}
    }
        >img {
            width: 100%;
            height: auto;
            min-height: 4.25rem;
        }


        >.icons-cont {
            position: absolute;
            height: 100%;
            top: 0;
            >svg {
                width: 100%;
                height: 100%;
            }
        }
        >.left-icons-cont {
            left: 0px;
            width: 20.5%;
            min-width: 90px;
        }
        >.right-icons-cont {
            right: 0px;
            width: 18%;
            min-width: 90px;
        }
        .header-title {
            position: absolute;
            top: 53%;
            left: 50%;
            transform: translate( -50%, -50%);
            font-family: 'andarilho_fontnormal';
            color: #fff;
            font-size: 4.135vw;
            margin: 0;
            line-height: 0.73;
            white-space: nowrap;
            min-width:187px;
            @media(min-width: 1280px) {
                font-size: 3.3rem;
            }
             @media(max-width: 550px) {
                font-size: 1.65rem;
                white-space: normal;
				text-align: center;
            }
            >span {
                display: block;
                font-size: .527em;
                text-align: right;
                font-weight: 300;
                color: #efefef;
            }
            @media(max-width: 550px) {
            	>span {
                font-size: 0.7em;
				text-align: center;
				white-space: nowrap;
				}
            }
            &.trapeze {
                line-height: 0.6;
                vertical-align: top;
                top: 41%;
                display:block;
                   @media(max-width: 550px) {
             top:49%;
            }
                >span {
                    color: #000;
                    background-color: #fff;
                    line-height: 0.75;
                    padding: 1px 3px;
                    display: inline-block;

                    font-size: 1.5rem;
                    font-weight: 900;
                    position: absolute;
top: 100%;
left: 100%;
transform: translate(-100%);


                }
                @media(max-width: 550px) {
            	>span {
                font-size: 0.7em;
				text-align: center;
				white-space: nowrap;
				position:static;
				transform:none;
				display:block;
				}
            }
            }
            &,
            &.trapeze {
                >span {
                    @media(max-width: 670px) {
                        //display: none;
                    }
                }
            }
        }

}
       #responsive_menu_pro{
          top:100%;
          &[style]{padding-bottom: 0 !important;}
          &.responsive_menu_pro_admin_bar_showing{
            padding-top:0;
      }
      .responsive_menu_pro_menu{
        li{
          .label{
            padding: 12px 0px 12px 5% !important;
            width: 95% !important;
            display: block !important;
            height: 20px !important;
            line-height: 20px !important;
            overflow: hidden !important;
            white-space: nowrap !important;
            color: rgb(30, 115, 190) !important;
            border-top: 1px solid rgb(30, 115, 190) !important;
            &:hover {
                background: #2098d1 !important;
                color: #FFFFFF !important;
                list-style-type: none !important;

            }
          }
          .sub-menu{
            margin-bottom: 0;
          }
        }
      }
      .menu-item.active>a{
        color: #fff !important;
        background-color: #1e73be !important;
      }
            .icon::before{
              width: 31.5px;
          height: 27.75px;
          background-size: contain;
            }
            .social{
              padding: 10px 0px 10px 5% !important;
          display: inline-block;
          width: auto !important;
          height: 41px;
          vertical-align: top;
          border-top: 1px solid rgb(30, 115, 190) !important;
          margin-right: -4px !important;
                @media( max-width:432px){
        width:96% !important;
        padding-bottom: 3px !important;
        height: auto !important;
      }
            }


        }
        #responsive_menu_pro #responsive_menu_pro_search{
          display: inline-block !important;
      width: calc(100% - 133px) !important;
      padding-top: 0 !important;
      vertical-align: top;
      min-width: 198px;
      @media( max-width:432px){
        width:95% !important;
      }
        }
        #responsive_menu_pro_button {
            margin-top: 0 !important;
            max-width: 310px;
        }
        #responsive_menu_pro_button {
            &.responsive_menu_pro_admin_bar_showing {
                margin-top: 0;
            }
            .rlx-burger {
                display: inline-block;
                width: 25px;
                height: auto;
            }
            .rlx-burger div {
                transition: background-color .3s ease-out, transform .6s cubic-bezier(0.23, 1, 0.32, 1);
                background: #fff;
                display: block;
                height: 2px;
                margin-bottom: 4px
            }
            .rlx-burger div:last-child {
                width: 50%
            }
            .rlx-burger div:first-child {
                transform: translate3d(0, 0, 0) !important
            }
            .rlx-burger .rlx-bacon {
                transition: background-color .3s ease-out, transform .3s cubic-bezier(0.23, 1, 0.32, 1)
            }
            .tablet .rlx-burger .rlx-bacon {
                display: none
            }
            .rlx-burger:hover div {
                background-color: #a37e2c
            }
        }
        #responsive_menu_pro_search::before {
            color: rgb(255, 255, 255);
        }
        #responsive_menu_pro #responsive_menu_pro_search_input {
            box-sizing: border-box;
        }
}
.nav-primary {
    position: relative;
    margin-top: -10px;
    margin-bottom: 20px;
    @include media-query(palm) {
        display: none;
    }
    @media print {
      display:none;
    }
}

#menu-menu-1 {
    list-style: outside none none;
    margin: 0;
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    .menu-item {
        display: inline-block;
        width: 18%;
        //padding: 0 2%;
        vertical-align: top;
        text-align: center;
        background-color: #C4C4C4;
        >a {
            color: #fff;
            display: block;
        }
    }
    .search {
        float: right;
        background-color: rgb(249, 246, 246);
        padding: 0px 5px;
        width: 21.3%;
        >form {
            height: 25px;
            vertical-align: top;
            >label {
                width: 100%;
                vertical-align: top;
                height: 17px;
                .screen-reader-text {
                    display: none;
                }
                >input {
                    width: 100%;
                    padding: 0px;
                    border: 0px none;
                    font-size: 0.9.25rem;
                    background-color: rgb(249, 246, 246);
                }
            }
            >input {
                display: none;
            }
        }
    }
}
