.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
    background-color: #2098d1;
    color: white;
    >a {
        color: white !important;
    }
}

#menu-menu-1 {
    .hvr-fade {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
        transition-duration: 0.3s;
        transition-property: color, background-color;
    }
    .hvr-fade:hover,
    .hvr-fade:focus,
    .hvr-fade:active {
        background-color: #2098d1;
        color: white;
    }
    .hvr-sweep-to-right {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        transition-property: color;
        transition-duration: 0.3s;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #42b6cf;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        &.animate {
            color: white;
            &::before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
}