h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "osmedicine-sans-serif-font";
}

h1 {
    line-height: 1.15;
    letter-spacing: -0.02em;
}

h3 {
    font-size: 1.7rem;
    line-height: 1.2;
    margin: 0px;
    padding: 0 5px;
}

h4 {
    font-size: 1.558rem;
    line-height: 1.18;
}

h5 {
    font-size: 1.127;
    line-height: 1.222;
}

h3,
h4,
h5 {
    font-weight: 400;
}